body {
    font-family: sans-serif;
    background-color: lightslategray;
}

img {
    height:100px;
    margin: 20px;
}

header{
    background-color:rgb(39, 50, 54);
}

h1{
    text-align: center;
}

footer{
    background-color: rgb(39, 50, 54);
}

ul{
    padding:13px;
    border-top: solid black 5px ;
    border-bottom:solid black 5px ;
}

.q{
    border:dotted black 4px;
}

.a{
   width: 214px;
   margin: 30px;
   height: 215px; 
}
